<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Your Grocery List!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<p>Please Select Your Grocery List</p>

  <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab *ngFor="let list of groceryLists" label={{list.GroceryListId}}>
        <mat-card class="example-card" *ngFor="let item of groceries;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item}}</mat-card-title>
            <mat-card-subtitle (click)="deleteSelected(item)" class="menu_links" onmouseover="" style="cursor: pointer;">Click to delete</mat-card-subtitle>
          </mat-card-header>
          </mat-card></mat-tab>
  </mat-tab-group>
  <form #newG="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Grocery Item" [(ngModel)]="name" name="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Quantity" [(ngModel)]="quantity" name="quantity">
        </mat-form-field>
      <button mat-raised-button color="accent" (click)="save()">Add a Grocery</button>
    </form>